<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="codebakery-plugin-cellinfo"
    version="0.0.3">
    <name>CellInfo</name>
    <description>CodeBakery Cell Info Plugin</description>
    <license>Apache 2.0</license>
    <keywords>codebakery,cellinfo,cell</keywords>
    <repo>https://github.com/codebakery/codebakery-plugin-cellinfo.git</repo>
    <issue>https://github.com/codebakery/codebakery-plugin-cellinfo/issues</issue>

    <js-module src="www/cellinfo.js" name="CellInfo">
        <clobbers target="CellInfo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CellInfo" >
                <param name="android-package" value="io.codebakery.cellinfo.CellInfo"/>
            </feature>
        </config-file>

        <source-file src="src/android/CellInfo.java" target-dir="src/io/codebakery/cellinfo" />
    </platform>

</plugin>
